# Python 缓存与编译文件
__pycache__/
*.py[cod]
*.so

# 你指定的目录（统一使用正斜杠，末尾加 /）
.idea/
.vscode/
temp/
# VISoR_Analysis/
YQReconstructionScripts/
common_script/
misc/
VISoR_Reconstruction/doc/
VISoR_Reconstruction/preset/
VISoR_Reconstruction/reconstruction/parameters/
# VISoR_Reconstruction/scripts/
# VISoR_Reconstruction/tools/
!VISoR_Brain/lib/flsmio/flsmio.cp311-win_amd64.pyd
!VISoR_Brain/lib/flsmio/flsmio.cp37-win_amd64.pyd

# # 你指定的文件
# VISoR_Data.py
# ome_tiff.py
# Torch_Losses.py
# yq_elastix_files.py

# # 本次 Refinement 集成与 UI 优化需要上传的文件
# !VISoR_Reconstruction/reconstruction_executor/
# VISoR_Reconstruction/reconstruction_executor/*
# !VISoR_Reconstruction/reconstruction_executor/b85_runner.py

# !VISoR_Reconstruction/visor_reconstruction_ui/pages/
# VISoR_Reconstruction/visor_reconstruction_ui/pages/*
# !VISoR_Reconstruction/visor_reconstruction_ui/pages/whole_brain_reconstruct/
# VISoR_Reconstruction/visor_reconstruction_ui/pages/whole_brain_reconstruct/*
# !VISoR_Reconstruction/visor_reconstruction_ui/pages/whole_brain_reconstruct/whole_brain_reconstruct.py

# !VISoR_Brain/
# VISoR_Brain/*
# !VISoR_Brain/positioning/
# VISoR_Brain/positioning/*
# !VISoR_Brain/positioning/visor_brain.py
